.layout{
    background-image: url('../../../assets/stars.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.buttongroup>button{
   margin-top: 2vh;
   margin-bottom: 2vh;
}

/* .profile{
    width: 20vw;
}

.meeting{
    width: 20vw;
} */