<style class="style" xmlns="http://www.w3.org/1999/html">

</style>
<i><img src="https://img.icons8.com/fluent-systems-regular/48/000000/page-size--v2.png" alt="not present" style="box-sizing: content-box; position: absolute" ></i>

<div id="calls" #calls >
  <div *ngFor="let user of peers">
    Call From New Peer:{{user.userName}}
    <p>
      <button class="bg-green-700 rounded-l-sm" (click) ="answerCall(user)" > Answer </button>
      <button class="bg-red-600 rounded-r-sm" (click) ="rejectCall(user)"> Reject </button>
    </p>
  </div>
</div>

<div class="body">
  <div style="position: absolute; z-index: 1; visibility: hidden; transition: visibility 3s">
    <label>
      <input type="range" min="15" max="60" class="slider" #myRange >
    </label>
  </div>

  <div class="slider">
    <div class="slides" #slide>
      <div class="flexbox" #flexbox>
        <div>
          <video id="user-video" #userVideo></video>
          <p> {{userName}} </p>
        </div>
<!--        <video id="peer-video" #peerVideo></video>-->
      </div>
    </div>
  </div>
</div>

<div id="menu" style="position: absolute;bottom: 0px; background: darkslategrey; height: 7vh; width: 100vw; display: flex;">
  <div style="min-width: 80px; color: papayawhip"><i class="fas fa-video" style='font-size:36px'></i></div>
  <div style="min-width: 80px; color: papayawhip"><i class="fas fa-microphone" style='font-size:36px'></i></div>
  <div style="min-width: 80px; color: papayawhip"><i class="fas fa-video" style='font-size:36px'></i></div>
</div>


