/* You can add global styles to this file, and also import other style files */
/* body{
  background-image: url('/assets/back2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: screen;
  height: 100vh;
} */
html{
  padding: 0%;
  box-sizing: border-box;
}
@font-face {
  font-family: parabola;
  src: url(assets/fonts/PARABOLA-Regular.ttf) format("truetype");
}

body{
  padding: 0%;
  box-sizing: border-box;
  margin: 0%;
}