/* You can add global styles to this file, and also import other style files */
body{
  background-image: url('/assets/back2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: screen;
  height: 100vh;
}